.dlt-box .dltContBox {
  margin: 20px 15px;
  justify-content: space-between;
}
.dlt-box .dltContBox {
  width: 100% !important;
}
.breadcrumb{
  font-size: 11px;
  color: #000000;
}
.breadcrumb a{
  color: #000000;
}
.breadcrumb span{
  padding: 0 5px;
}
.intro-bg {
  width: 1005px;
  margin: 0 auto;
  height: 1873px;
  background: #f2f3f3;
  border: 1px solid #c2c3c3;
  border-radius: 15px;
}
.intro-bg img {
  display: block;
  width: 770px;
  height: 1819px;
  margin: 0 auto;
  margin-top: 30px;
} 