.breadcrumb{
  margin-left: 15px;
  font-size: 11px;
  color: #000000;
}
.breadcrumb a{
  color: #000000;
}
.breadcrumb span{
  padding: 0 5px;
}
.dlt-box {
  width: 100% !important;
}
.dltContBox {
  justify-content: flex-start !important;
}
.dltContBox .ContBoxL {
  /* width: 497px !important; */
}
.dltContBox .ContBoxL .left-content1 {
  /* width: 497px;
  height: 952px; */
  background: #f2f3f3;
  border: 1px solid #c2c3c3;
  border-radius: 15px;
  /* margin-left: 35px; */
  box-sizing: border-box;
  position: relative;
  padding-bottom: 28px;
}
.left-content1 .title {
  font-size: 24px;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: left;
  color: #666666;
  line-height: 24px;
  padding: 16px 0 10px;
  letter-spacing: 1px;
  text-align: center;
}
.left-content1 .content {
  width: 390px;
  height: 780px;
  border: 8px solid #fff;
  /* box-sizing: border-box; */
  position: relative;
  padding: 0;
}
.left-content1 .front, .left-content1 .back {
  /* width: 390px; */
  height: 100%;
  position: relative;
  left: 0px;
  top: 0;
  transform-style: preserve-3d;
  transition: 1s;
  backface-visibility: hidden;
}
.left-content1 .back {
  position: absolute;
}
.left-content1 .front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back-img {
  width: 100%;
  height: auto;
}
.u-headImg {
  float: left;
  width: 100%;
  height: auto;
}
.u-conImg {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.u-fotImg {
  float: left;
  width: 100%;
  height: auto;
}
.u-restImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.u-restImg1 {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -1
}
.cur {
  cursor: url('https://static.sporttery.cn/res_1_0/tcw/images/dgg/pointer.cur'), auto !important;
  /* cursor: url('../img/dgg_icon.png'), auto !important; */
}
.left-content1 .back {
  transform: rotateY(180deg);
  z-index: 1;
}
/* .left-content1 .content:hover .front {
  z-index: 1;
  transform: rotateY(180deg);
}
.left-content1 .content:hover .back {
  z-index: 2;
  transform: rotateY(0deg);
} */
.left-content1 .preserve {
  width: 38px;
  height: 110px;
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
  cursor: pointer;
}
.left-content1 .preserve img{
  width: 100%;
  cursor: pointer;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}
.btn-wrapper .btn {
  width: 150px;
  height: 42px;
  background: #f74607;
  border-radius: 21px;
  text-align: center;
  line-height: 42px;
  color: #f8e6d1;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.btn-wrapper .btn:nth-child(2) {
  margin-left: 40px;
  cursor: pointer;
}

.ContBoxR {
  flex: auto;
  /* width: 447px !important; */
  margin-left: 64px;
}
.right-content1 {

}
.right-content1 .name {
  width: 398px;
  font-size: 30px;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: left;
  color: #f74607;
  line-height: 36px;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
  border-bottom: solid 1px #F46C4A;
  margin-bottom: 26px;
}
.right-content1 .price-value {

}
.price-value span {
  font-size: 16px;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: left;
  color: #060402;
  line-height: 26px;
  letter-spacing: 1px;
}
.price-value .color1 {
  color: #F74607 !important;
}
.how-play {
  margin-top: 57px;
}
.how-play-title, .how-play-content {
  width: 365px;
  font-family: Microsoft YaHei, Microsoft YaHei-Bold;
  color: #060402;
}
.how-play-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* margin-top: 14px; */
}
.how-play-title {
  font-weight: 700;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
}

.table {
  width: 379px;
  border: 1px solid #d7d8d8;
  margin-top: 20px;
}

.table tr {
  height: 35px;
}
.table th {
  background: #c9caca;
}
.table td {
  text-align: center;
}
.tr_num2 {
  background: #efefef;
}
.declare {
  display: flex;
  font-size: 14px;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: left;
  color: #f74607;
  line-height: 18px;
  margin-top: 26px;
}
.declare > div:first-child {
  width: 90px;
}



/* 中奖弹层 */
.g-maskZj, .g-maskWzj {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.g-maskZj .zj {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 318px;
  height: 283px;
  opacity: 0.9;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 6px 11px 1px rgba(31,29,29,0.44); 
}
.g-maskWzj .wzj {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 318px;
  height: 241px;
  opacity: 0.9;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 6px 11px 1px rgba(31,29,29,0.44); 
}
.zj-tip {
  font-size: 24px;
  font-family: Microsoft YaHei, Microsoft YaHei-Bold;
  font-weight: 700;
  text-align: center;
  color: #8e3617;
  line-height: 36px;
  margin-top: 24px;
}
.zj-value {
  font-size: 40px;
  font-family: Microsoft YaHei, Microsoft YaHei-Bold;
  font-weight: 700;
  text-align: center;
  color: #f74607;
  line-height: 36px;
  margin-top: 12px;
}
.zj-declare {
  width: 176px;
  font-size: 14px;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: center;
  color: #333333;
  line-height: 18px;
  margin: 0 auto;
  margin-top: 26px;
}
.zj-again {
  width: 150px;
  height: 42px;
  line-height: 42px;
  background: #f74607;
  border-radius: 21px;
  margin: 0 auto;
  margin-top: 26px;
  text-align: center;
  color: #f8e6d1;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}